@charset "utf-8";
/* common.css */

#wrap{
    width: 100%;
    position: relative;
}
body, input, textarea{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    /* 행간을 폰트 크기의 1.5배로 사용 */
}
img, input, button{
    vertical-align: top;
}
input .button{
    padding: 0;
}
a{
    text-decoration: none;
}
.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
/* clearFix */
.cf::after{
    content: "";
    display: block;
    clear: both;
}

/* 모바일 시작 */
/* 모바일 - 헤더 */
#header{
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    height: 51px;
}
#h_in{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.h_search .open{
    display: block;
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
    width: 20px;
    height: 20px;
    text-indent: -99999px;
}
.search_wrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 600;
}
.search_in{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 100px;
}
.search_in p{
    font-size: 31px;
    line-height: 1.4;
    font-weight: 600;
    color: #000;
    margin-top: 10px;
    margin-bottom: 30px;
}
.search_in input{
    display: block;
    position: relative;
    width: 100%;
    border: 0;
    font-size: 27px;
    line-height: 45px;
    height: 50px;
    border-bottom: 2px solid #000;
}
.search_in button{
    position: absolute;
    bottom: 105px;
    right: 5%;
    border: 0;
    text-indent: -99999px;
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
    background-color: transparent;
    width: 45px;
    height: 45px;
}
.search_in span{
    display: block;
    position: absolute;
    top: 12%;
    right: 5%;
    text-indent: -99999px;
    background-image: url(../img/search_close.png);
    background-position: center;
    background-size: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.h_logo a{
    display: block;
    background-image: url(../img/logo_top.png);
    background-position: center;
    background-size: 76px auto;
    background-repeat: no-repeat;
    align-items: center;
    width: 76px;
    height: 25px;
    text-indent: -99999px;
}
.pc_gnb{
    display: none;
}
.h_logo_sub{
    display: none;
    position: absolute;
    width: 123px;
    height: 26px;
    right: 75px;
    top: 33px;
    background-image: url(../img/mall_logo.png);
    text-indent: -99999px;
}
.h_menu_btn{
    display: block;
    background-image: url(../img/btn-menu.svg);
    background-repeat: no-repeat;
    background-size: 20px auto;
    width: 25px;
    height: 25px;
    text-indent: -99999px;
    cursor: pointer;
}
.side_menu_bg{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 1;
}
.h_menu{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 29%;
    background-color: #fff;
    z-index: 100;
}
.side_menu{
    position: relative;
    margin-top: 51px;
    bottom: 0;
    right: 0;
}
.side_menu button{
    position: absolute;
    top: -45px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 0;
    text-indent: -99999px;
    background-image: url(../img/search_close.png);
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.side_menu .d1 > a{
    position: relative;
    padding-left: 18px;
    border-top: 1px solid #e3e3e3;
}
.side_menu .d1 .m1::after{
    content: "";
    position: absolute;
    top: 17px;
    right: 16px;
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: #949494;
}
.side_menu .d1:last-child .m1::after{
    content: "";
    background-color: transparent;
}
.side_menu .d1 .m1::before{
    content: "";
    position: absolute;
    top: 13px;
    right: 20px;
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #949494;
}
.side_menu .d1:last-child .m1::before{
    content: "";
    background-color: transparent;
}
.side_menu .m1{
    display: block;
    color: #000;
    font-size: 18px;
    line-height: 2.2;
}
.side_menu .d1:last-child a{
    display: block;
    background-image: url(../img/mall_logo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 18px 20px;
    text-indent: -99999px;
}
.side_menu .d1:nth-child(7) .m1::after, .side_menu .d1:nth-child(7) .m1::before{
    background-color: transparent;
}
.side_menu .d1:nth-child(7) a::after{
    content: "";
    display: block;
    background-image: url(../img/icon_intranet.png);
    background-size: 26px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: 7px;
    right: 15px;
}
.depth2{
    display: none;
    background-color: #93b658;
    padding: 10px 10px 10px 20px;
}
.depth2 .d2 > a, .depth2 dt{
    color: #fff;
    line-height: 1.7;
    font-size: 15px;
    font-weight: 400;
}
/* -----------------푸터---------------- */
#footer{
    background-color: rgba(224, 224, 224, 0.438);
}
.f_in{
    width: 100%;
    margin: 0 auto;
}
.f_left{
    border-bottom: 1px solid #ddd;
}
.left_in{
    position: relative;
    width: 95%;
    display: flex;
}
.left_logo{
    width: 30px;
    height: auto;
    margin-left: 3%;
    background-image: url(../img/icon_news.png);
    background-repeat: no-repeat;
    background-size: 15px;
    text-indent: -99999px;
    background-position: center;
}
.right_in{
    width: 95%;
    position: relative;
    display: flex;
}
.right_logo{
    width: 30px;
    height: auto;
    margin-left: 3%;
    background-image: url(../img/icon_event.png);
    background-repeat: no-repeat;
    background-size: 15px;
    text-indent: -99999px;
    background-position: center;
}
.event{
    width: 70px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 100;
    color: #666;
}
.f_txt_list{
    width: 500px;
    line-height: 3;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 100;
}
.f_txt_list a{
    color: #444;
}
.f_txt_list a:hover{
    color: #93b658;
}
.f_prev{
    position: absolute;
    top: -5px;
    right: 0;
    background-repeat: no-repeat;
    background-image: url(../img/board_nav.png);
    width: 30px;
    height: 30px;
    background-position: 15px 16px;
    background-size: 50px;
}
.f_next{
    position: absolute;
    right: 0;
    bottom: -5px;
    background-repeat: no-repeat;
    background-image: url(../img/board_nav.png);
    width: 30px;
    height: 30px;
    background-position: 15px -14px;
    background-size: 50px;
}
.f_prev_01{
    position: absolute;
    top: -5px;
    right: 0;
    background-repeat: no-repeat;
    background-image: url(../img/board_nav.png);
    width: 30px;
    height: 30px;
    background-position: 15px 16px;
    background-size: 50px;
}
.f_next_01{
    position: absolute;
    right: 0;
    bottom: -5px;
    background-repeat: no-repeat;
    background-image: url(../img/board_nav.png);
    width: 30px;
    height: 30px;
    background-position: 15px -14px;
    background-size: 50px;
}
.bot_list ul{
    display: flex;
    justify-content: space-between;
}
.bot_list li{
    border-top: 1px solid #ddd;
    width: 200px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    text-align: center;
}
.bot_list li:nth-child(5){
    border-right: 0;
}
.bot_list a{
    color: #555;
    font-size: 14px;
    font-weight: 300;
}
.bot_list .pc{
    display: none;
}
.f_logo{
    margin: 20px auto 10px auto;
    width: 80px;
    height: 30px;
    background-image: url(../img/f_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99999px;
    background-size: 80px auto;
}
.txt_in{
    text-align: center;
    color: #999;
    font-style: 13px;
    font-weight: 100;
    line-height: 1.6;
}
.txt_pc{
    display: none;
}
.family{
    display: none;
}
.sns{
    width: 100%;
    margin: 25px auto;
}
.sns_in ul{
    display: flex;
    justify-content: center;
}
.sns_in li{
    margin: 0 7px;
}
.sns_in a{
    display: block;
    width: 26px;
    height: 28px;
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    text-indent: -99999px;
}
.f_youtube{
    background-image: url(../img/icon_tube.png);
}
.f_blog{
    background-image: url(../img/icon_blog.png);
}
.f_facebook{
    background-image: url(../img/icon_fb.png);
}
.f_instar{
    background-image: url(../img/icon_insta.png);
}
.copyright{
    color: #bbb;
    font-size: 13.5px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 30px;
}
/* -----------테블릿--------- */
@media screen and (min-width:768px){
    .f_in{
        width: 100%;
    }
    .f_top{
        display: flex;
        border-bottom: 1px solid #ddd;
    }
    .f_txt_list{
        width: 220px;
        line-height: 4;
        white-space: nowrap;
    }
    .f_txt_list p{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .f_left{
        width: 50%;
        border-bottom: 0;
        border-right: 1px solid #ddd;
    }
    .f_right{
        width: 50%;
        border-bottom: 0;
    }
    .left_in{
        align-items: center;
    }
    .right_in{
        align-items: center;
    }
    .event{
        margin: 0;
    }
    .f_bot{
        width: 100%;
    }
    .bot_in{
        width: 730px;
        margin: 0 auto;
    }
    .bot_list ul{
        margin-top: 15px;

    }
    .bot_list li{
        width: auto;
        border: 0;
        margin: 0 15px;
    }
    .bot_list a{
        position: relative;
        font-size: 16px;
    }
    .bot_list a::after{
        content: "";
        position: absolute;
        top: 6px;
        right: -18px;
        width: 1px;
        height: 13px;
        background-color: #ddd;
    }
    .bot_list li:last-child a::after{
        display: none;
    }
    .bot_list a:hover{
        color: #93b658;
    }
    .bot_list .pc{
        position: relative;
        display: block;
        margin-left: 55px;
    }
    .bot_list .pc::before{
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        left: -35px;
        background-image: url(../img/icon_intranet.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
    }
    .txt_in{
        text-align: start;
        margin-left: 40px;
    }
    .f_logo{
        margin: 40px 0 10px 40px;
        width: 165px;
        background-size: 165px auto;
    }
    .txt_mo{
        display: none;
    }
    .txt_pc{
        display: block;
        font-weight: 100;
    }
    .txt_pc span{
        position: relative;
        margin: 0 7px;
        vertical-align: top;
    }
    .txt_pc span::after{
        content: "";
        position: absolute;
        top: 5px;
        width: 1px;
        height: 13px;
        background-color: #ddd;
    }
    .f_right{
        width: 800px;
        display: flex;
        justify-content: space-between;
    }
    .sns{
        margin-left: 33px;
    }
    .sns_in ul{
        justify-content: flex-start;
    }
    .family{
        display: block;
    }
    .family .f_site{
        display: block;
        width: 100px;
        height: 30px;
        border: 1px solid #ff0404;
        color: #ff0000;
    }
}
/* 테블릿 종료 */
/* PC 시작 */
@media screen and (min-width:1100px){
    #wrap{
        position: relative;
    }
    #header{
        height: 90px;
    }
    #h_in{
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }
    .h_search .open{
        position: absolute;
        top: 30px;
        right: 18px;
        background-size: 25px auto;
        width: 25px;
        height: 25px;
    }
    .search_in{
        width: 50%;
        margin: 0 auto;
    }
    .search_in span{
        right: 25%;
    }
    .search_in button{
        right: 25%;
    }
    .h_logo a{
        position: absolute;
        display: block;
        top: 22px;
        left: -17px;
        width: 148px;
        height: 50px;
        background-size: 148px;
    }
    .pc_gnb{
        position: absolute;
        top: 32px;
        left: 180px;
        width: 750px;
        height: 57px;
        display: block;
    }
    .pc_gnb > ul{
        display: flex;
    }
    .pc_gnb .d1:last-child a::after{
        content: "";
        position: absolute;
        background-color: #000;
        width: 1px;
        height: 25px;
        right: 25px;
        top: 1px;
        opacity: 0.3;
    }
    .pc_gnb .m1{
        display: block;
        font-size: 19px;
        font-weight: 500;
        color: #333;
        line-height: 1.5;
        text-align: center;
        margin-right: 50px;
        height: 57px;
    }
    .d2{
        display: none;
        position: absolute;
        top: 60px;
        width: 1800px;
        height: 400px;
        left: -500px;
        border-top: 2px solid #444;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
    }
    .d2_in{
        display: flex;
        justify-content: center;
    }
    .d2_row{
        padding-top: 20px;
        width: 180px;
        text-align: center;
        border-right: 1px solid #ddd;
    }
    .d2_row:first-child{
        border-left: 1px solid #ddd;
    }
    .d2_row:nth-child(2) dl{
        margin-bottom: 8px;
    }
    .d2_row:nth-child(2) dl::before{
        content: "";
        background-color: #ff0000;
        width: 150px;
        height: 2px;
        bottom: 50px;
    }
    .d2_row dt{
        font-size: 18px;
        font-weight: 600;
        line-height: 2;
    }
    .pc_gnb .d2 dd a{
        color: #4b4b4b;
        line-height: 2;
    }
    .pc_gnb .d2 dd a:hover{
        color: #93b658;
    }
    .h_logo_sub{
        display: block;
        right: 95px;
    }
    .h_menu_btn{
        display: none;
    }
    /* 푸터 */
    .f_in{
        width: 1200px;
        margin: 0 auto;
    }
    .f_slick{
        width: 1920px;
    }
    .f_top{
        width: 1200px;
        border: 0;
        border-bottom: 1px solid #ddd;
    }
    .f_bot{
        width: 1200px;
    }
    .bot_in{
        margin-left: 10px;
    }
}
/* PC 종료 */